<!-- <input type="text" [(ngModel)]="title">
<br/> <br/>-->

<!--Custom Pipe-->
<!--<span>{{title | titleCase}}</span> -->

<!--Component API-->
<!-- <app-like  [likesCount]='tweet.likesCount' [isActive]='tweet.isLiked'></app-like> -->

<!--Custom Directive-->
<!--<input type="text" [appInputFormat]="'lowercase'" >-->
<!--Test-->
<!-- <app-zippy title="Shipping Detailes">
    Shiiping Detailes Content.
</app-zippy> -->

<!--Template-Driven forms -->
<!-- <app-contact-form></app-contact-form> -->

<!--Example-->
<!-- <app-course></app-course> -->

<!-- Reactive Forms -->
<!--<app-signup-form></app-signup-form>-->

<!-- Form Array-->
<!--<app-new-course-form></app-new-course-form>-->

<!--Recap For Reactive Forms-->
<!--<app-change-password></app-change-password>-->

<!--Http Services-->
<!--<app-posts></app-posts>-->

<!--Navigation-->
<router-outlet></router-outlet>